
<p>
  <a href="{{site.swc_site}}">WVU HPC Team</a>
  Provide the University with the best possible High-Performance Computing service. 
  To accomplish this goal, we have brought the University’s High-Performance Computing (HPC) resources 
  together into one unified department, capable of serving the University’s research staff and faculty.

  The WVU HPC Group is a community-led, peer-driven effort to ensure West Virginia University maintains 
  a lead in the many fields of research that require HPC resources.
  
  This hands-on workshop will cover basic concepts and tools,
  including accessing the cluster, submit jobs, version control, data management,
  and parallel programming.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
{% comment %}
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
{% endcomment %}
