<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2018-Lesson_1" >Day 1 (Using an HPC cluster)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Getting Access to the cluster</td> </tr>
      <tr> <td>09:30</td>  <td>Basics of Command Line Interface</td> </tr>
      <tr> <td>10:00</td>  <td>Text Editors (vi, emacs and nano)</td> </tr>
      <tr> <td>11:00</td>  <td>Environments Module</td> </tr>
      <tr> <td>11:30</td>  <td>Version Control (Git)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Job Submission (Torque/Moab)</td> </tr>
      <tr> <td>15:00</td>  <td>Transferring Files</td> </tr>
      <tr> <td>15:00</td>  <td>Software Containers (Singularity)</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2018-Lesson_2" >Day 2 (Languages for Scientific Computing)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Sieve of Eratosthenes</td> </tr>
      <tr> <td>10:00</td>  <td>R for Statistics</td> </tr>
      <tr> <td>10:30</td>  <td>Python for fast prototyping and glue codes</td> </tr>
      <tr> <td>11:00</td>  <td>C/C++ for traditional computing</td> </tr>
      <tr> <td>11:30</td>  <td>Fortran for intensive numerics</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:00</td>  <td>Autotools</td> </tr>
      <tr> <td>14:00</td>  <td>Cython to accelerate Python execution</td> </tr>
      <tr> <td>15:00</td>  <td>Fortran inside R</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2018-Lesson_3" >Day 3 (Data Processing)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Processing Text Files with grep and awk</td> </tr>
      <tr> <td>09:30</td>  <td>Using Regular Expressions with Python</td> </tr>
      <tr> <td>10:00</td>  <td>Structured Text (XML and JSON)</td> </tr>
      <tr> <td>11:00</td>  <td>Binary Formats (NetCDF and HDF5)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Creating simple Databases with SQLite</td> </tr>
      <tr> <td>15:00</td>  <td>No-SQL databases with MongoDB</td> </tr>
      <tr> <td>15:00</td>  <td>Machine Learning with Keras and TensorFlow</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3><a href="https://wvuhpc.github.io/2018-Lesson_4" >Day 4 (Parallel Programming)</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Why Parallel Computing</td> </tr>
      <tr> <td>10:00</td>  <td>Embarrassing Parallel Jobs</td> </tr>
      <tr> <td>11:00</td>  <td>Multithreading (OpenMP)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Multiprocessing (MPI)</td> </tr>
      <tr> <td>15:00</td>  <td>HPC Accelerators (Cuda)</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
