<p id="who">
  <strong>Who:</strong>
  The course is aimed at WVU graduate students and researchers as well as 
  other West Virginia students and researchers who can get access to WVU resources via
  collaborations with WVU researchers.
 
  <strong>
    Some familiarity with Unix/Linux and basic programming is a recommended. The first lesson, however, lower
this requirement for more firs-time users willing to get access and take advantage of the advantages that High-Performance
Computing (HPC) infraestructures can offer to boost their research. 
  </strong>
</p>
